body {
	background: url('../images/background.png') no-repeat;
	background-size: cover;
	font-family: "Tahoma";
	margin: 0px;
	background-attachment: fixed;
}
.totop {
	position: fixed;
	width: 30px;
	height: 30px;
	top: 80%;
	right: 3%;
	text-indent: -1000px;
	background-image: url("../images/totop.png");
	background-repeat: no-repeat;
	background-position: right;
	overflow: hidden;
	z-index: 2;
}
header{
	overflow: auto;	
}
.logo{
	float: left;
	height: 160px;
	width: 180px;
	padding: 80px 40px 0px 90px; 
}
a{
	text-decoration: none;
	color: white;
}
.menuitems{
	padding-right: 40px;
	font-size: 20px;
	font-style: italic;
	float: left;
}
.menu{
	float: left;
	list-style: none;
	padding-top: 170px;
}
.section1{
	text-align: center;
	float: left;
	width: 100%;
	height: auto;
	padding-bottom: 100px;
}
.profile{
	padding: 13.28%;
	height: 23.44%;
	width: 10.94%;
	float: left;
}
.profilephoto{
	width: 200px;
	height: 200px;
	border:4px solid #BC2938;
	border-radius:100px;
}
.text1{
	float: left;
	padding: 150px 70px 150px 30px;
	text-align: left;
	color: white;
	font-size: 40px;
	font-style: italic;
}
.text2{
	color: #E59EAA;
	font-size: 20px;
	font-style: normal;
}
.text3{
	text-align: center;
	color: black;
	font-size: 40px;
	font-style: italic;
	padding-bottom: 20px;
	padding-top: 75px;
}
.text4{
	text-align: center;
	font-size: 25px;
	color: #989898;
	padding: 35px 0px;
}
.table{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.branding{
	height: 27.34%;
	width: 27.34%;
	float: left;
}
.interfaces{
	height: 27.34%;
	width: 27.34%;
	float: left;	
	padding-left: 8.6%;
	padding-right: 8.6%;
}
.frontend{
	height: 27.34%;
	width: 27.34%;
	float: left;
}
.section2{
	float: left;
	width: 100%;
	text-align: center;
	background-color: white;
	position: relative;
}
.section2::before{
	position: absolute;
	width: 100%;
	height: 100px;
	top: -97px;
	content: '';
	background: url("../images/whiterect.png") repeat-x scroll top center transparent;
	left: 0;
}
.section2::after{
	position: absolute;
	width: 100%;
	height: 300px;
	bottom: -205px;
	right: 0px;
	content: '';
	background: url("../images/whiterect.png") repeat-x scroll top center transparent;
	z-index: -1;
}
.tableImg{
	height: 120px;
	padding-bottom: 60px;
}
.tablet1{
	padding-bottom: 15px;
	font-size: 10px;
	font-style: italic;
}
.tablet2{
	font-size: 20px;
	font-style: italic;
	padding-bottom: 10px;
}
.tablet3{
	font-size: 14px;
	color: #989898;
}
.section3{
	text-align: center;
	float: left;
	width: 100%;
	padding: 100px 0px;
}
.text5{
	padding: 80px 0px 20px 0px;
	color: white;
	font-size: 30px;
	font-style: italic;
}
.text6{
	padding: 30px 0px 80px 0px;
	color: #E59EAA;
	font-size: 15px;
	font-style: normal;
}
.section4{
	background-color: #191818;
	text-align: center;
	float: left;
	width: 100%;
	position: relative;
}
.section4::before{
	position: absolute;
	width: 100%;
	height: 100px;
	top: -97px;
	content: '';
	background: url("../images/blackrect.png") repeat-x scroll top center transparent;
	left: 0;
}
.links{
	color: red;
}
.bottom{
	padding-bottom: 100px;
}
@media screen and (max-width: 1100px){
	.profile{
		width: 200px;
  		display: block;
 		margin-left: auto;
  		margin-right: auto;
  		float: none;
  		padding: 10%;
	}
	.profilephoto{
		width: 200px;
		height: 200px;
		border:4px solid #BC2938;
		border-radius:100px;
		float: left;
	}
	.text1{
		width: 100%;
  		display: block;
 		margin-left: auto;
  		margin-right: auto;
		float: none;
		text-align: center;
		color: white;
		font-size: 40px;
		font-style: italic;
		padding: 150px 0px;
	}
}
@media screen and (max-width: 800px){
	.logo{
		display: block;
    	margin-left: auto;
   		margin-right: auto;
   		float: none;
   		padding-bottom: 0;
	}
	.menu{
		padding-top: 40px;
		float: none;
	}
	.text3{
		font-size: 32px;
	}
	.text4{
		font-size: 20px;
	}
	.tableImg{
		padding-bottom: 15px;
	}
	.branding{
		height: 27.34%;
		width: 100%;
		float: none;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.interfaces{
		height: 27.34%;
		width: 100%;
		float: none;
		text-align: center;
		padding: 0;
	}
	.frontend{
		height: 27.34%;
		width: 100%;
		float: none;
		text-align: center;
	}
	.tablet1{
		padding-bottom: 15px;
		font-size: 10px;
		font-style: italic;
	}
	.tablet2{
		font-size: 20px;
		font-style: italic;
		padding-bottom: 10px;
	}
	.tablet3{
		font-size: 14px;
		color: #989898;
		width: 500px;
		float: none;
		padding-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
	}
}